@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Customizada */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(113, 113, 122, 0.4);
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(113, 113, 122, 0.6);
}

/* Animações de Glitch */
@keyframes flicker {
    0% { opacity: 1; transform: translateX(0); }
    3% { opacity: 0.8; transform: translateX(2px); }
    5% { opacity: 0.9; transform: translateX(-2px); }
    7% { opacity: 0.1; transform: translateX(0); }
    8% { opacity: 1; }
    40% { opacity: 1; }
    42% { opacity: 0.8; transform: skewX(5deg); }
    44% { opacity: 1; transform: skewX(0); }
    100% { opacity: 1; }
}

.animate-flicker-screen {
    animation: flicker 4s infinite;
}

/* Animação de Scroll do ECG */
@keyframes ecg-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* Move metade (já que duplicamos o width para 200%) */
}